<%- include('header') %> 
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, natus recusandae iure id veritatis esse suscipit quod cupiditate, repellat illo quis reiciendis porro, dolores labore consectetur ipsam. Nesciunt, culpa ex.</p>
<%- include('footer') %> 