<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todlist-V1</title>
</head>

<body>
    <h1><%= day %> </h1>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>for</li>
        <% for(i=0, i< newItem.length(), i++){ %>
            <li><%= newItem[i] %> </li>
        <% } %>   
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem" id="">
        <button type="submit">Add</button>
    </form>
</body>

</html>